
.topdiv {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    float:top;
    width:"100%";
    background:#ECEAE2
}

.topdiv p{
font-size: 22px;
text-align:center;
}

.topparts{
    padding-right: 3em;
}

.servicearea p{
    font-size: 20px;
    text-align:left;
    }

.topdiv h1{
    text-align:center;
    }
.servicearea h1{
    text-align:left;
    }


.picturepart{
    position: relative;
    background: url(../assets/img3.jpeg) no-repeat center ;
    background-size: cover;
    height: 300px;
    width: 100%;
    float:left;
}

.picturepart p{
    position: inherit;
    color: #fff;
    font-weight: 700;
    top: 0.5em;
    font-size: 3em;
    text-align: center;
    line-height: 1em;
 }

 .textarea{
     width: 70%;
     font-family: Helvetica;
     padding-left: 5%;
 }
 .textarea h2{

    font-family: Helvetica;
    font-size: 36px;

 }

 .textarea h1{

    font-family: Helvetica;
    font-size: 56px;

 }

 
 .textarea h3{

    font-family: Helvetica;
    font-size: 32px;

 }
 .textarea p{
    color: #9E9E9E;
    font-size: 22px;
    font-family: Helvetica;
    line-height: 40px;

 }


 @media only screen and (max-width: 960px) {

.picturepart p{
    position: inherit;
    color: #fff;
    font-weight: 700;
    top: 0.5em;
    font-size: 2em;
    text-align: center;
    line-height: 1em;
 }

 .topparts{
    padding-right: 0em;
}
.textarea h2{

    font-family: Helvetica;
    font-size: 24px;

 }

 .textarea h1{

    font-family: Helvetica;
    font-size: 28px;

 }

 .textarea h3{

    font-family: Helvetica;
    font-size: 24px;

 }


 }
