.main_contactus{
    width:100%;
    height:400px;
    float:left;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    float:top;
    width:"100%";
}

.textItemsss {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}


@media only screen and (max-width: 1160px) {
    .textItemsss {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: flex-start;
    }
}