.main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
}

.textItemsss {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.textItem1 {
    padding-right: 20em;
}

.textItem2 {
}


@media only screen and (max-width: 1260px) {

    .textItem1 {
        width: 100%;
        padding-left: 20em;

    }
    
    .textItem2 {
        width: 100%;
        padding-left: 20em;
    }
    


    
    .textItemsss {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;

    }
}