.main{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
    padding: 5em;
}

.textItemsss {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.shownroom-text p{
    color:rgb(66, 64, 64);
    line-height: 1em;

}

.contact-text p{
    color:rgb(66, 64, 64);
    line-height: 0.8em;

}


.textItem1 {
    width: 40%;
    padding-right: 5em;
}

.textItem2 {
    width: 40%;

}


@media only screen and (max-width: 1260px) {

    .textItem1 {
        width: 100%;
        margin-left: 5%;
        padding-right: 0em;
    }
    .textItem2 {
        width: 100%;
        margin-left: 5%;
    }
    
    
}