.header{
    position: relative;
    background: url(../assets/food.jpg) no-repeat ;
    height: 100%;
    width: 100%;
}

.head-text {
    position: inherit;
    color: #fff;
    font-weight: 800;
    top: 0.2em;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2em;
 }
