.header1{
    position: relative;
    background: url(../assets/img1.jpg) no-repeat center  ;
    background-size: cover;
    height: 25em;
    width: 100%;

    display: flex;              /* establish flex container */

    flex-direction: column;     /* stack flex items vertically */
    
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}


.head-text1 p{
    position: inherit;
    color: #fff;
    font-weight: 750;
    margin-top: 0em ;
    margin-bottom: 0.5em;
    font-size: 4rem;
    text-align: center;
    line-height: 1em;
    font-family: 'Poppins';
 }


.header2{
    position: relative;
    background: url(../assets/img2.jpeg) no-repeat center  ;
    background-size: cover;
    height: 14em;
    width: 100%;

    display: flex;              /* establish flex container */

    flex-direction: column;     /* stack flex items vertically */
    
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}


 .head-text2 h1{
    position:inherit;
    color: #fff;
    font-weight: 500;
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-size: 3.5rem;
    text-align: center;
 }

 .head-text2 p{ 
    color: #fff;
    margin-top: 0px;
    font-size: 1.3rem;

 }

 .btn--1 {
     top: -10em;
 }

 .btn--2 {
     left: 10em;
 }

 .main{
     width: 100%;

     display: flex;
     flex-wrap: wrap;
     align-content:space-between;
     justify-content: center;
     float:top;
     width:"100%";
     background:#ECEAE2
 }
.mainpart p{
    font-size: 22px;
    text-align:center;
}

.mainpart h1{
    text-align:center;
}
.mainpart h2{
    text-align:center;
}
.mainpart{
    padding:10px;
    justify-content: center;

    background-color:"#ECEAE2";


}

.main-wrapper {
    justify-content: center;
}


@media only screen and (max-width: 960px) {
    .header1{
        position: relative;
        background: url(../assets/img1.jpg) no-repeat center ;
        background-size: cover;
        height: 18em;
        width: 100%;
    
    
        display: flex;              /* establish flex container */
    
        flex-direction: column;     /* stack flex items vertically */
        
        justify-content: center;    /* center items vertically, in this case */
        align-content: center;
        align-items: center;        /* center items horizontally, in this case */
    }

    .header2{
        position: relative;
        background: url(../assets/img2.jpeg) no-repeat center  ;
        background-size: cover;
        height: 13em;
        width: 100%;
    }
    

    
    .head-text1 p{
        position: inherit;
        width: 95%;
        color: #fff;
        font-weight: 800;
        font-size: 2em;
        top: -5%;
        text-align: center;
        padding-left: 2.5%;
        line-height: 1.2em;

     }

     
    .head-text2 h1{
        position:inherit;
        color: #fff;
        font-weight: 500;
        margin-top: -0.5em;
        margin-bottom: 0.3em;
        font-size: 2.5rem;
        text-align: center;
    }

    .head-text2 p{ 
        color: #fff;
        margin-top: 0px;
        font-size: 1rem;
        text-align: center;
        text-emphasis-position: '03';
    }
}