.logo-image img {
    height: 25%;
    width: 25%;
    margin-left: 200px;
}

.navbar {
    background-color: #fff;
    height: 90 px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-icon {
    margin-left: 2rem;
    font-size: 4rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: 100%;
    transition: 850ms;
}

.nav-menu.active {
    width:40%;
    height: 100%;
    display: flex;
    position: fixed;
    right:0%;
    transition: 850ms;
}
.nav-text {
    display: flex;
    font-style: italic;
    justify-content: start;
    align-items: center ;
    padding: 8px 0px 8px 16px;
    height: 80px;
}

.nav-text a{
    text-decoration: none;
    color: rgb(92, 90, 90);
    font-size: 28px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.nav-text a:hover {
    color: rgb(44, 63, 172);
    font-weight: 600;

}
