.image-header img {
    height: 25%;
    width: 25%;
}

.navbar {
    background-color: #fff;
    height: 90 px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-icon {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left:0%;
    transition: 850ms;
}

