.logo-image img {
    height: 35%;
    width: 35%;
    margin-left: 10em;
    margin-top: 3rem;
}

.navbar {
    background-color: #fff;
    display: flex;
    height: 5em;
    justify-content: start;
    align-items: center;
}

.menu-icon {
    right: 10%;
    margin-top: 9vh;
    margin-right: 3em;
    font-size: 1.5rem;
    background: none;
    z-index:100;
    position: absolute;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100%;
    display: flex;
    position: fixed;
    right: -100%;
    transition: 850ms;
}

.nav-menu.active {
    width:35%;
    height: 100%;
    display: flex;
    position: fixed;
    right:0%;
    z-index:50;
    transition: 850ms;
}

.nav-text {
    display: flex;
    font-style: italic;
    justify-content: start;
    align-items: center;
    padding: 2em 0em 0.25em 1em;
    height: 2em;
}

.nav-text a{
    text-decoration: none;
    color: rgb(92, 90, 90);
    font-size: 28px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.nav-text a:hover {
    color: rgb(44, 63, 172);
    font-weight: 600;

}
